In [1]:
import os
import pandas as pda

In [2]:
df = pda.read_csv("resources/election_data.csv")

In [3]:
#show top 5 rows of data frame
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
# count total number of votes
votes = len(df)
votes

3521001

In [5]:
# count number of votes per candidate
counts = df["Candidate"].value_counts()
counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [6]:
#list individual candidates
candidates = df['Candidate'].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [7]:
#find total candidate counts
cand = df["Candidate"].value_counts().to_list()
cand

[2218231, 704200, 492940, 105630]

In [8]:
analyze_df = pda.DataFrame(counts)
analyze_df["Candidate"] = candidates
analyze_df["Votes"] = cand
analyze_df.head()

         Candidate    Votes
Khan          Khan  2218231
Correy      Correy   704200
Li              Li   492940
O'Tooley  O'Tooley   105630

In [9]:
counters = analyze_df.loc[analyze_df['Votes'] == cand,'Votes']
counters

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Votes, dtype: int64

In [10]:
analyzed_df = pda.DataFrame(counters)
analyzed_df.head()

            Votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [11]:
khanperc = 2218231 / votes
corperc = 704200 / votes
liperc = 492940 / votes
otoperc = 105630 / votes

In [12]:
pctg = khanperc*100, corperc*100, liperc*100, otoperc*100

In [13]:
pctg

(63.00001050837531, 19.999994319797125, 13.999996023857989, 2.999999147969569)

In [14]:
analyzed_df["Percentage"] = pctg

In [15]:
analyzed_df.head()

            Votes  Percentage
Khan      2218231   63.000011
Correy     704200   19.999994
Li         492940   13.999996
O'Tooley   105630    2.999999

In [16]:
new_df = analyzed_df.rename_axis('candidates').reset_index()
print(new_df)

  candidates    Votes  Percentage
0       Khan  2218231   63.000011
1     Correy   704200   19.999994
2         Li   492940   13.999996
3   O'Tooley   105630    2.999999

In [17]:
new_df.head()

  candidates    Votes  Percentage
0       Khan  2218231   63.000011
1     Correy   704200   19.999994
2         Li   492940   13.999996
3   O'Tooley   105630    2.999999

In [18]:
win = analyzed_df["Percentage"].max()
win

63.00001050837531

In [19]:
winner = new_df.loc[new_df['Percentage'] == win,'candidates']

In [20]:
tvotes = (f'Total Votes: {votes}')
results = new_df
champ = (f'The Winner is: {winner.to_string(index=False)}')

In [21]:
resultss = new_df.to_string(header=True, index=False)
print(resultss)

candidates   Votes  Percentage
      Khan 2218231   63.000011
    Correy  704200   19.999994
        Li  492940   13.999996
  O'Tooley  105630    2.999999

In [22]:
finals = print("Election Results"), print(tvotes), print(resultss), print(champ)

Election Results
Total Votes: 3521001
candidates   Votes  Percentage
      Khan 2218231   63.000011
    Correy  704200   19.999994
        Li  492940   13.999996
  O'Tooley  105630    2.999999
The Winner is: Khan

In [23]:
finalss = [
    {"---------------------------"},
    {tvotes},
    {"---------------------------"},
    {resultss},
    {"---------------------------"},
    {champ}]

In [24]:
finalss

[{'---------------------------'},
 {'Total Votes: 3521001'},
 {'---------------------------'},
 {"candidates   Votes  Percentage\n      Khan 2218231   63.000011\n    Correy  704200   19.999994\n        Li  492940   13.999996\n  O'Tooley  105630    2.999999"},
 {'---------------------------'},
 {'The Winner is: Khan'}]

In [25]:
analyzedd_df = pda.DataFrame(finalss)
analyzedd_df.columns = ['Election Results']
analyzedd_df

                                    Election Results
0                        ---------------------------
1                               Total Votes: 3521001
2                        ---------------------------
3  candidates   Votes  Percentage\n      Khan 221...
4                        ---------------------------
5                                The Winner is: Khan

In [26]:
analyzedd_df.to_csv("analysis/mains.txt", index=False)