In [1]:
import os
import pandas as pda

In [2]:
df = pda.read_csv("resources/budget_data.csv")

In [3]:
# count number of months
months = df["Date"].count()

In [4]:
# count total profit/loss
net_total = df["Profit/Losses"].sum()

In [5]:
# convert profitloss to list
profitloss = df["Profit/Losses"].to_list()

In [6]:
totalchg = [0]

In [7]:
#calculate change
for x in range(1, len(profitloss)):
    change = profitloss[x]-profitloss[x - 1]
    totalchg.append(change)

In [8]:
#add a column for the change
df["Difference"] = totalchg

In [9]:
#calculate average of the change
avgchg = df["Difference"].sum() / 85

In [10]:
#calculate greatest increase 
maxchg = df["Difference"].max()

In [11]:
#calculate the greatest decrease
minchg = df["Difference"].min()

In [12]:
# print the analysis
month = (f'Total Months: {months}')
total = (f'Total: ${net_total:,.2f}')
avg = (f'Average Change: ${avgchg:,.2f}')
inc = (f'Greatest Increase in Profits: ${maxchg:,.2f}')
dec = (f'Greatest Decrease in Profits: ${minchg:,.2f}')

In [13]:
#show analysis
analysis = print(month), print(total), print(avg), print(inc), print(dec)

Total Months: 86
Total: $38,382,578.00
Average Change: $-2,315.12
Greatest Increase in Profits: $1,926,159.00
Greatest Decrease in Profits: $-2,196,167.00

In [42]:
# Convert a list of dictionaries into a dataframe
analyzed = [
    {"---------------------------"},
    {month},
    {total},
    {avg},
    {inc},
    {dec}]

analyzed_df = pda.DataFrame(analyzed)
analyzed_df.columns = ['Analysis']

In [43]:
# show analysis
analyzed_df

                                       Analysis
0                   ---------------------------
1                              Total Months: 86
2                         Total: $38,382,578.00
3                    Average Change: $-2,315.12
4   Greatest Increase in Profits: $1,926,159.00
5  Greatest Decrease in Profits: $-2,196,167.00

In [44]:
# export analysis to txt file
analyzed_df.to_csv("analysis/main.txt", index=False)