In [17]:
import os
import pandas as pda

In [18]:
df = pda.read_csv("resources/budget_data.csv")

In [19]:
#find number of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [20]:
#show top 5 rows of data frame
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [21]:
# count number of months
months = df["Date"].count()
months

86

In [22]:
# count total profit/loss
net_total = df["Profit/Losses"].sum()
net_total

38382578

In [23]:
# convert profitloss to list
profitloss = df["Profit/Losses"].to_list()

In [24]:
totalchg = [0]

In [25]:
#calculate change
for x in range(1, len(profitloss)):
    change = profitloss[x]-profitloss[x - 1]
    totalchg.append(change)

In [26]:
diff_df = pda.DataFrame(df)
diff_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [27]:
#add a column for the change
diff_df["Difference"] = totalchg
diff_df.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884           0
1  Feb-2010         984655      116771
2  Mar-2010         322013     -662642
3  Apr-2010         -69417     -391430
4  May-2010         310503      379920

In [28]:
#calculate average of the change, use months-1 to exclude the first row with no change
avgchg = diff_df["Difference"].sum() / (months-1)
avgchg

-2315.1176470588234

In [29]:
#calculate greatest increase 
maxchg = diff_df["Difference"].max()
maxchg

1926159

In [30]:
#find corresponding date
mxdate = diff_df.loc[diff_df['Difference'] == maxchg,'Date']
mxdate

25    Feb-2012
Name: Date, dtype: object

In [31]:
#calculate the greatest decrease
minchg = diff_df["Difference"].min()
minchg

-2196167

In [32]:
#find corresponding date
mndate = diff_df.loc[df['Difference'] == minchg,'Date']
mndate

44    Sep-2013
Name: Date, dtype: object

In [33]:
# set up the analysis, create dictionaires
month = (f'Total Months: {months}')
totals = (f'Total: ${net_total:,.2f}')
avg = (f'Average Change: ${avgchg:,.2f}')
inc = (f'Greatest Increase in Profits: {mxdate.to_string(index=False)} (${maxchg:,.2f})')
dec = (f'Greatest Decrease in Profits: {mndate.to_string(index=False)} (${minchg:,.2f})')

In [34]:
#show analysis
analysis = print(month), print(totals), print(avg), print(inc), print(dec)

Total Months: 86
Total: $38,382,578.00
Average Change: $-2,315.12
Greatest Increase in Profits: Feb-2012 ($1,926,159.00)
Greatest Decrease in Profits: Sep-2013 ($-2,196,167.00)

In [35]:
# Convert list of dictionaries into a dataframe
analyzed = [
    {"---------------------------"},
    {month},
    {totals},
    {avg},
    {inc},
    {dec}]

analyzed_df = pda.DataFrame(analyzed)
analyzed_df.columns = ['Analysis']

In [36]:
# show analysis
analyzed_df

                                            Analysis
0                        ---------------------------
1                                   Total Months: 86
2                              Total: $38,382,578.00
3                         Average Change: $-2,315.12
4  Greatest Increase in Profits: Feb-2012 ($1,926...
5  Greatest Decrease in Profits: Sep-2013 ($-2,19...

In [ ]:
# export analysis to txt file
analyzed_df.to_csv("analysis/main.txt", index=False)