In [4]:
import os
import pandas as pda

In [5]:
df = pda.read_csv("resources/election_data.csv")

In [10]:
#find number of columns
df.info()
df.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   Voter ID   int64
 1   County     object
 2   Candidate  object
dtypes: int64(1), object(2)
memory usage: 80.6+ MB

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [11]:
#show top 5 rows of data frame
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [21]:
# count number of votes
votes = df["Voter ID"].count()
votes

3521001